<div *ngIf="sale">

  <h2>{{sale.codeProduct | uppercase}} Details</h2>
  <div><span>id: </span>{{sale.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="sale.codeProduct" placeholder="codeProduct" />
    </label>
  </div>

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>