<div id="search-component">
    <h4><label for="search-box">Sale Search</label></h4>
  
    <input #searchBox id="search-box" (keyup.enter)="onKey(search(searchBox.value))"/>
    <button (click)="search(searchBox.value)" >Buscar</button>
  
    <ul class="search-result">
      <li *ngFor="let product of products$ | async" >
        <a routerLink="/detail/{{product.code}}">
          {{product.Name}}
        </a>
      </li>
    </ul>
  </div>