<h2>My Sales</h2>

<div>
  <label>Buscar producto:
    <input #saleName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(saleName.value); saleName.value=''">
    add
  </button>
  <button (click)="findProduct(saleName.value); saleName.value=''">
    Buscar
  </button>
</div>

<ul class="sales">
  <li *ngFor="let sale of sales">
    <a routerLink="/detail/{{sale.id}}">
      <span class="badge">{{sale.id}}</span> {{sale.codeProduct}}
    </a>
    <button class="delete" title="delete sale"
      (click)="delete(sale)">x</button>
  </li>
</ul>