<h3>Top Sales</h3>
<div class="grid grid-pad">
  <a *ngFor="let sale of sales" class="col-1-4"
      routerLink="/detail/{{sale.id}}">
    <div class="module sale">
      <h4>{{sale.codeProduct}}</h4>
    </div>
  </a>
</div>

<app-sale-search></app-sale-search>